.main{
    color: #2F5061;
    font-family: 'Bai Jamjuree', sans-serif;
}
.main-title{
    font-family: 'Chakra Petch', sans-serif;
    font-size: larger;
}
.container .main-form{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.main .roll-section{
    margin-bottom: 5px;
    width: 250px
}

.result{
    color: #4297A0;
    display: none;
    margin-top: 5px;
}

.alert{
    margin-bottom: 5px;
}

.alert-info{
    width: 245px
}

.btn-primary{
    width: 65px
}